<div class="mat-app-background dark-theme" >

  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" style="text-decoration:none; color:#fff;">
    <span>STOPNC EXPLORE</span>
  </a>
    <span class="example-spacer" style="flex-grow: 1;"></span>
    <button mat-raised-button color="accent" >
      Save
    </button>
    </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <div style="width: 100%" *ngIf="!isLoaded">
      <mat-spinner style="margin: auto;"></mat-spinner>
    </div>
    <div *ngIf="isLoaded">
    <h1 style="padding: 15px">
      Shop Now
    </h1>
  <div style="display: flex; justify-content:space-between; padding: 15px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 1</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[0] !== undefined">
        <div >
          <a [href]="trendingProduct[0].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[0].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between;">
          <div *ngFor="let item of trendingProduct[0].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
      </div>
      <div *ngIf="trendingProduct[1] === undefined || trendingProduct.length === 0">
        No Blog Selected
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(1, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 2</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[1] !== undefined">
        <div>
          <a [href]="trendingProduct[1].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[1].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between;">
          <div *ngFor="let item of trendingProduct[1].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
        </div>
        <div *ngIf="trendingProduct[1] === undefined || trendingProduct.length === 0">
          No Blog Selected
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(2, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 3</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[2] !== undefined">
        <div>
          <a [href]="trendingProduct[2].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[2].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between;">
          <div *ngFor="let item of trendingProduct[2].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
      </div>
      <div *ngIf="trendingProduct[2] === undefined || trendingProduct.length === 0">
        No Blog Selected
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(3, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div style="display: flex; justify-content:space-between; padding: 15px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 4</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[3] !== undefined">
        <div>
          <a [href]="trendingProduct[3].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[3].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between;">
          <div *ngFor="let item of trendingProduct[3].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
      </div>
      <div *ngIf="trendingProduct[3] === undefined || trendingProduct.length === 0">
        No Blog Selected
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(4, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 5</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[4] !== undefined">
        <div>
          <a [href]="trendingProduct[4].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[4].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between; flex-wrap:wrap;">
          <div *ngFor="let item of trendingProduct[4].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
      </div>
      <div *ngIf="trendingProduct[4] === undefined || trendingProduct.length === 0">
        No Blog Selected
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(5, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product 6</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div *ngIf="trendingProduct[5] !== undefined">
        <div>
          <a [href]="trendingProduct[5].link" style="color: rgb(0, 255, 221);">{{ trendingProduct[5].name  }}</a>
        </div>
        <br>
        <div style="display: flex; justify-content:space-between;">
          <div *ngFor="let item of trendingProduct[5].image">
            <img [src]="item" style="max-width: 70px;">
          </div>
        </div>
      </div>
      <div *ngIf="trendingProduct[5] === undefined || trendingProduct.length === 0">
        No Blog Selected
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-stroked-button color="accent" (click)="openDialog(6, 0)">Select Product</button>
      </mat-card-actions>
    </mat-card>
</div>
<h1 style="padding: 15px">
 Trending
 <br>
</h1>

 <div style="display: flex; justify-content:space-between; padding: 15px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 1</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[0] !== undefined">
      <div >
        <p>{{ trendingBlog[0].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[0].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[1] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(1, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 2</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[1] !== undefined">
      <div>
        <p>{{ trendingBlog[1].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[1].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
      </div>
      <div *ngIf="trendingBlog[1] === undefined || trendingBlog.length === 0">
        No Blog Selected
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(2, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 3</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[2] !== undefined">
      <div>
        <p>{{ trendingBlog[2].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[2].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[2] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(3, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>

</div>
<div style="display: flex; justify-content:space-between; padding: 15px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 4</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[4] !== undefined">
      <div >
        <p>{{ trendingBlog[4].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[4].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[4] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(4, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 5</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[4] !== undefined">
      <div>
        <p>{{ trendingBlog[4].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[4].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
      </div>
      <div *ngIf="trendingBlog[4] === undefined || trendingBlog.length === 0">
        No Blog Selected
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(5, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 6</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[5] !== undefined">
      <div>
        <p>{{ trendingBlog[5].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[5].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[5] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(6, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>

</div>
<div style="display: flex; justify-content:space-between; padding: 15px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 7</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[6] !== undefined">
      <div >
        <p>{{ trendingBlog[6].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[6].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[6] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(7, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 7</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[7] !== undefined">
      <div>
        <p>{{ trendingBlog[7].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[7].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
      </div>
      <div *ngIf="trendingBlog[7] === undefined || trendingBlog.length === 0">
        No Blog Selected
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(8, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 9</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="trendingBlog[8] !== undefined">
      <div>
        <p>{{ trendingBlog[8].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of trendingBlog[6].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="trendingBlog[8] === undefined || trendingBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(9, 1)">Select Product</button>
    </mat-card-actions>
  </mat-card>

</div>
<h1 style="padding: 15px">
  Exclusive Blogs
  <br>
 </h1>
 <div style="display: flex; justify-content:space-between; padding: 15px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 1</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[0] !== undefined">
      <div >
        <p>{{ ExclusiveBlog[0].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[0].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="ExclusiveBlog[1] === undefined || ExclusiveBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(1, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 2</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[1] !== undefined">
      <div>
        <p>{{ ExclusiveBlog[1].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[1].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
      </div>
      <div *ngIf="ExclusiveBlog[1] === undefined || ExclusiveBlog.length === 0">
        No Blog Selected
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(2, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 3</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[2] !== undefined">
      <div>
        <p>{{ ExclusiveBlog[2].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[2].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="ExclusiveBlog[2] === undefined || ExclusiveBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(3, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>

</div>
<div style="display: flex; justify-content:space-between; padding: 15px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 4</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[4] !== undefined">
      <div >
        <p>{{ ExclusiveBlog[4].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[4].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="ExclusiveBlog[4] === undefined || ExclusiveBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(4, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 5</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[4] !== undefined">
      <div>
        <p>{{ ExclusiveBlog[4].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[4].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
      </div>
      <div *ngIf="ExclusiveBlog[4] === undefined || ExclusiveBlog.length === 0">
        No Blog Selected
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(5, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog 6</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div *ngIf="ExclusiveBlog[5] !== undefined">
      <div>
        <p>{{ ExclusiveBlog[5].title  }}</p>
      </div>
      <br>
      <div style="display: flex; justify-content:space-between;">
        <div *ngFor="let item of ExclusiveBlog[5].image">
          <img [src]="item" style="max-width: 70px;">
        </div>
      </div>
    </div>
    <div *ngIf="ExclusiveBlog[5] === undefined || ExclusiveBlog.length === 0">
      No Blog Selected
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-stroked-button color="accent" (click)="openDialog(6, 2)">Select Product</button>
    </mat-card-actions>
  </mat-card>

</div>
</div>
</div>
