<div style="padding: 25px;">
<div style="display: flex; justify-content:space-between;  flex-wrap: wrap;">
  <mat-card (click)="navigate(1)">
    <mat-card-header>
      <mat-card-title>Home Component</mat-card-title>
      <mat-card-subtitle>Edit Home Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <a [routerLink]="['/explore']" routerLinkActive="router-link-active" style="text-decoration: none;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Explore Component</mat-card-title>
      <mat-card-subtitle>Edit Explore Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</a>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Feed Component</mat-card-title>
      <mat-card-subtitle>Edit Feed Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <a [routerLink]="['/blog']" routerLinkActive="router-link-active" style="text-decoration: none;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog Component</mat-card-title>
      <mat-card-subtitle>Edit Blog Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  </a>
</div>
<br>
<br>
<hr>
<div style="display: flex; justify-content:space-between; flex-wrap: wrap;">
  <a [routerLink]="['/user']" routerLinkActive="router-link-active" style="text-decoration: none;">
  <mat-card style="  text-align: center; min-width: 300px;">
    <h1>Total Users</h1>
    <h1>{{ userNum }}</h1>
</mat-card>
</a>
<mat-card style="  text-align: center; min-width: 300px;">
    <h1>Total Blogs</h1>
    <h1>{{ blogNum }}</h1>
</mat-card>
<a [routerLink]="['/product']" routerLinkActive="router-link-active" style="text-decoration: none;">
<mat-card style="  text-align: center; min-width: 300px;">
  <h1>Total Products</h1>
  <h1>{{ productNum }}</h1>
</mat-card>
</a>
</div>
<div>
  <mat-card (click)="clearCache()">
    Clear Cache
  </mat-card>
</div>
</div>
