<div style="padding: 25px;">
<div style="display: flex; justify-content:space-between;  flex-wrap: wrap;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Home Component</mat-card-title>
      <mat-card-subtitle>Edit Home Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Explore Component</mat-card-title>
      <mat-card-subtitle>Edit Explore Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Category Component</mat-card-title>
      <mat-card-subtitle>Edit Category Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Blog Component</mat-card-title>
      <mat-card-subtitle>Edit Blog Page</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<br>
<br>
<div style="display: flex; justify-content:space-between">
  <mat-card style="flex:1; max-width: 630px; text-align: center;">
    <h1>Total Users</h1>
    <h1>{{ userNum }}</h1>
</mat-card>
<mat-card style="flex:1; max-width: 630px; text-align: center;">
    <h1>Total Blogs</h1>
    <h1>{{ blogNum }}</h1>
</mat-card>
</div>

</div>
